body{
    background-color: black;
    color: beige; 
    text-align: center;
}

h1{
    color: goldenrod;
}

h5{
    text-align: justify;
    text-indent: 1rem;
    text-decoration: underline;
}

p{
    text-align: justify;
    text-indent: 1rem;
}

.thisOne{
    color: goldenrod;
    
}